[submodule "Win32/Release/GameData/AllMaps"]
	path = Win32/Release/GameData/AllMaps
	url = https://github.com/Foxente/SWBF-I-Addons.git
[submodule "Win32/Release/LauncherData/AllMaps"]
	path = Win32/Release/LauncherData/AllMaps
	url = https://github.com/Foxente/SWBF-I-Addons.git
