# IDE files
*.~*~
*.local
*.identcache
__history

# Delphi Compiler output files
*.drc
*.map
*.jdbg
*.tds
#*.exe
#*.dll
*.bpl
*.dcu
*.dcp

# C++ Builder Compiler output files
*.bpi
*.obj
*.lib
*.hpp
*.i
*.il?
*.#??
*.pbi
*.pch
*.pdi

# 64bit Delphi/C++Builder files
*.[ao]

# Castalia statistics file (since XE7 Castalia is distributed with Delphi)
*.stat

# SWBF I files
Win32/Release/GameData/Battlefront.exe
Win32/Release/GameData/Data/_LVL_PC/BES/bes1.lvl
Win32/Release/GameData/Data/_LVL_PC/BES/bes2.lvl
Win32/Release/GameData/Data/_LVL_PC/Common/ENG/common.lvl
Win32/Release/GameData/Data/_LVL_PC/END/end1.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allcldcr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allcmspd.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allcmspg.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allhthmk.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allhthtr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allhvrnt.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allkwing.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allmarks.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allmedic.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allpilot.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allsccam.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allsspdr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/alltaun.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/alltroop.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allwook.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allxwing.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/allywing.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/gunsspdr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/ALL/repgunnr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cisaatp.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cisbdrd.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cisdrde.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cishlfrd.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cismafp.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cismttp.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cissbdrd.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cissccam.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cisspdrw.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cisstapp.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/cisstrft.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/CIS/repgunnr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/Com/comallre.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/Com/comcisim.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/Com/comgntrt.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/Com/comgunnr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/Com/comhview.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/Com/comunive.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/Com/comviewf.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/allxwing.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/atst.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impatat.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impatatg.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impatstg.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impdark.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impftrtk.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impimplc.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impoff.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/imppilot.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impsccam.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impscout.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impsntr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impspbk.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/impstrp.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/imptibmr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/imptiftr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/IMP/repgunnr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/allxwing.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/reparc.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repatted.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repatxtp.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repcmspd.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repftrtk.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repgunnr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repgunsh.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repguntr.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/rephtrop.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repjedfi.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repjettp.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repmedic.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/reppilot.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repsccam.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repsharp.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/repspbk.lvl
Win32/Release/GameData/Data/_LVL_PC/FPM/REP/reptroop.lvl
Win32/Release/GameData/Data/_LVL_PC/GEO/geo1.lvl
Win32/Release/GameData/Data/_LVL_PC/HOT/hot1.lvl
Win32/Release/GameData/Data/_LVL_PC/KAM/kam1.lvl
Win32/Release/GameData/Data/_LVL_PC/KAS/kas1.lvl
Win32/Release/GameData/Data/_LVL_PC/KAS/kas2.lvl
Win32/Release/GameData/Data/_LVL_PC/KAS/kas2_h.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/bes1.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/bes2.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/end1.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/geo1.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/hot1.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/kam1.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/kas1.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/kas2.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/load.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/nab1.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/nab2.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/rhn1.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/rhn2.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/tat1.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/tat2.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/yav1.lvl
Win32/Release/GameData/Data/_LVL_PC/core.lvl
Win32/Release/GameData/Data/_LVL_PC/mission.lvl
Win32/Release/GameData/Data/_LVL_PC/vidmode.ini
Win32/Release/GameData/binkw32.dll
Win32/Release/GameData/eax.dll
Win32/Release/GameData/unicows.dll
Win32/Release/GameData/Data/_LVL_PC/SIDE/geo.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/gun.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/imp.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/rep.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/wok.lvl
Win32/Release/GameData/Data/_LVL_PC/Shell/ENG/shell.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/bes.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/common.bnk
Win32/Release/GameData/Data/_LVL_PC/Sound/cw.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/end.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/gcw.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/geo.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/hot.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/kam.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/kas.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/nab.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/rhn.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/shell.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/tat.lvl
Win32/Release/GameData/Data/_LVL_PC/Sound/yav.lvl
Win32/Release/GameData/Data/_LVL_PC/TAT/tat1.lvl
Win32/Release/GameData/Data/_LVL_PC/TAT/tat1h.lvl
Win32/Release/GameData/Data/_LVL_PC/TAT/tat2.lvl
Win32/Release/GameData/Data/_LVL_PC/YAV/yav1.lvl
Win32/Release/GameData/Data/_LVL_PC/YAV/yav2.lvl
Win32/Release/GameData/Data/_LVL_PC/YAV/yav2_h.lvl
Win32/Release/GameData/Data/_LVL_PC/NAB/nab1_h.lvl
Win32/Release/GameData/Data/_LVL_PC/NAB/nab2.lvl
Win32/Release/GameData/Data/_LVL_PC/NAB/nab2_h.lvl
Win32/Release/GameData/Data/_LVL_PC/RHN/Rhn1.lvl
Win32/Release/GameData/Data/_LVL_PC/RHN/Rhn2.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/LOTRall.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/LOTRcis.lvl
Win32/Release/GameData/Data/_LVL_PC/Load/yav2.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/LOTRimp.lvl
Win32/Release/GameData/Data/_LVL_PC/Movies/shell.mvs
Win32/Release/GameData/Data/_LVL_PC/SIDE/LOTRrep.lvl
Win32/Release/GameData/Data/_LVL_PC/NAB/nab1.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/all.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/cis.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/evc_rep_shock.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/ewk.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/des.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/evc_imp.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/gar.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/evc_rep_212.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/evc_rep_41st.lvl
Win32/Release/GameData/Data/_LVL_PC/SIDE/evc_rep_501.lvl
Win32/Release/GameData/SaveGames/
Win32/Release/GameData/AddOn/

# Launcher unique files
Win32/Release/SWBF-I-The-Sith-Launcher.exe
Win32/Release/LauncherData/Settings.ini
Win32/Release/LauncherData/Languages/English.ini
