# IDE files
*.~*~
*.local
*.identcache
__history

# Delphi Compiler output files
*.drc
*.map
*.jdbg
*.tds
#*.exe
#*.dll
*.bpl
*.dcu
*.dcp

# C++ Builder Compiler output files
*.bpi
*.obj
*.lib
*.hpp
*.i
*.il?
*.#??
*.pbi
*.pch
*.pdi

# 64bit Delphi/C++Builder files
*.[ao]

# Castalia statistics file (since XE7 Castalia is distributed with Delphi)
*.stat

# SWBF I files

# Launcher unique files
Win32/Release/SWBF-I-The-Sith-Launcher.exe
